.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-list li{
    font-size: 1.5rem;
    color: #343434;
   
}

.nav-list a{
    text-decoration: none;
    color:inherit;
}

.nav-list a:hover{
    text-decoration: underline;
    color:inherit;

}